# ========================
# Java / Maven
# ========================
target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# ========================
# Node / Playwright
# ========================
node_modules/
playwright-report/
test-results/
.playwright/

# ========================
# JMeter
# ========================
qa-performance/results/
*.jtl
*.log

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
